<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/posteos">Return</a>
    <h1>Edit POST</h1>
    <form action="/posteos/edit" method="post">
        <input type="text" name="id" value="<%= post.id %>" hidden>
        <input type="text" name="title" placeholder="Title" value="<%= post.title %>"><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Text here"><%= post.content %></textarea><br>
        <input type="text" name="img_url" value="<%= post.img_url %>"><br>
        <button>Edit</button>
    </form>
</body>

</html>